@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.toggle-checkbox:checked {
  right: 0;
  border-color: #2563eb;
}

.toggle-label {
  background-color: #9ca3af;
  border-radius: 9999px;
}

.toggle-checkbox {
  transition: all 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;  /* A modern and clean font */
  background-color: #f9fafb;
}

.dark {
  background-color: #111827;
}

h1, h2, h3 {
  color: #1f2937; /* Darker gray for headings */
}

.dark h1, .dark h2, .dark h3 {
  color: #e5e7eb;
}

p {
  color: #6b7280; /* Softer gray for text */
}

.dark p {
  color: #9ca3af;
}

/* For cards */
.card {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.dark .card {
  background-color: #1f2937;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
}